USE [SARVA]
GO
/****** Object:  Table [dbo].[Ciclo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciclo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [nvarchar](450) NOT NULL,
	[id_empresa] [int] NULL,
	[nome] [varchar](50) NULL,
	[dataInicio] [date] NULL,
	[dataFim] [date] NULL,
 CONSTRAINT [PK_Ciclo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [nvarchar](450) NOT NULL,
	[nome] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[aniversario] [date] NULL,
	[scoreId] [int] NULL,
 CONSTRAINT [PK__Cliente__3213E83FE753010F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [nvarchar](450) NOT NULL,
	[razao_social] [varchar](50) NULL,
	[flag] [bit] NULL,
 CONSTRAINT [PK__Empresa__3213E83F88A4D44A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Pedido] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Pedido](
	[codigo_IV] [int] NOT NULL,
	[id_ciclo_IV] [int] NOT NULL,
	[id_venda_IV] [int] NOT NULL,
	[id_pedido] [int] NOT NULL,
	[valor] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Item_Pedido_1] PRIMARY KEY CLUSTERED 
(
	[codigo_IV] ASC,
	[id_ciclo_IV] ASC,
	[id_venda_IV] ASC,
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Venda] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Venda](
	[codigo_produto] [int] NOT NULL,
	[id_ciclo_produto] [int] NOT NULL,
	[id_venda] [int] NOT NULL,
	[valor] [decimal](18, 2) NULL,
	[quantidade] [int] NULL,
	[data_validade] [date] NULL,
 CONSTRAINT [PK_Item_Venda] PRIMARY KEY CLUSTERED 
(
	[codigo_produto] ASC,
	[id_ciclo_produto] ASC,
	[id_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [nvarchar](450) NOT NULL,
	[id_empresa] [int] NULL,
	[valor] [decimal](18, 2) NULL,
	[data_pedido] [date] NULL,
	[data_vencimento] [date] NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[id_ciclo] [int] NOT NULL,
	[codigo] [int] NOT NULL,
	[id_usuario] [nvarchar](450) NOT NULL,
	[id_empresa] [int] NULL,
	[nome] [varchar](50) NULL,
	[valor] [decimal](18, 2) NULL,
	[pontos] [int] NULL,
	[flag] [bit] NULL,
 CONSTRAINT [PK_Produto_1] PRIMARY KEY CLUSTERED 
(
	[id_ciclo] ASC,
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Score] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Score](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NULL,
 CONSTRAINT [PK_Score] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venda] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [nvarchar](450) NOT NULL,
	[id_cliente] [int] NULL,
	[id_empresa] [int] NULL,
	[valor] [decimal](18, 2) NULL,
	[data_venda] [date] NULL,
	[data_vencimento] [date] NULL,
	[data_pagamento] [date] NULL,
	[desconto] [decimal](18, 2) NULL,
	[valorFinal] [decimal](18, 2) NULL,
 CONSTRAINT [PK__Venda__3213E83FB0F14735] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ciclo]  WITH CHECK ADD  CONSTRAINT [FK_Ciclo_Empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[Ciclo] CHECK CONSTRAINT [FK_Ciclo_Empresa]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Score] FOREIGN KEY([scoreId])
REFERENCES [dbo].[Score] ([id])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Score]
GO
ALTER TABLE [dbo].[Item_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Item_Pedido_Item_Venda] FOREIGN KEY([codigo_IV], [id_ciclo_IV], [id_venda_IV])
REFERENCES [dbo].[Item_Venda] ([codigo_produto], [id_ciclo_produto], [id_venda])
GO
ALTER TABLE [dbo].[Item_Pedido] CHECK CONSTRAINT [FK_Item_Pedido_Item_Venda]
GO
ALTER TABLE [dbo].[Item_Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Item_Pedido_Pedido2] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[Item_Pedido] CHECK CONSTRAINT [FK_Item_Pedido_Pedido2]
GO
ALTER TABLE [dbo].[Item_Venda]  WITH CHECK ADD  CONSTRAINT [FK__Item_Vend__id_ve__38996AB5] FOREIGN KEY([id_venda])
REFERENCES [dbo].[Venda] ([id])
GO
ALTER TABLE [dbo].[Item_Venda] CHECK CONSTRAINT [FK__Item_Vend__id_ve__38996AB5]
GO
ALTER TABLE [dbo].[Item_Venda]  WITH CHECK ADD  CONSTRAINT [FK_Item_Venda_Produto1] FOREIGN KEY([id_ciclo_produto], [codigo_produto])
REFERENCES [dbo].[Produto] ([id_ciclo], [codigo])
GO
ALTER TABLE [dbo].[Item_Venda] CHECK CONSTRAINT [FK_Item_Venda_Produto1]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Empresa]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD  CONSTRAINT [FK__Produto__id_empr__2D27B809] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[Produto] CHECK CONSTRAINT [FK__Produto__id_empr__2D27B809]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD  CONSTRAINT [FK_Produto_Ciclo1] FOREIGN KEY([id_ciclo])
REFERENCES [dbo].[Ciclo] ([id])
GO
ALTER TABLE [dbo].[Produto] CHECK CONSTRAINT [FK_Produto_Ciclo1]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK__Venda__id_client__33D4B598] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK__Venda__id_client__33D4B598]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK__Venda__id_empres__34C8D9D1] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK__Venda__id_empres__34C8D9D1]
GO
