@model SARVA.Models.Venda

@{
    ViewData["Title"] = "AdicionarVenda";
}

<h1>AdicionarVenda</h1>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarVenda">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_usuario" class="control-label"></label>
                <input asp-for="id_usuario" class="form-control" />
                <span asp-validation-for="id_usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_cliente" class="control-label"></label>
                <select asp-for="id_cliente" class ="form-control" asp-items="ViewBag.id_cliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_empresa" class="control-label"></label>
                <select asp-for="id_empresa" class ="form-control" asp-items="ViewBag.id_empresa"></select>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_venda" class="control-label"></label>
                <input asp-for="data_venda" class="form-control" />
                <span asp-validation-for="data_venda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_vencimento" class="control-label"></label>
                <input asp-for="data_vencimento" class="form-control" />
                <span asp-validation-for="data_vencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_pagamento" class="control-label"></label>
                <input asp-for="data_pagamento" class="form-control" />
                <span asp-validation-for="data_pagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="desconto" class="control-label"></label>
                <input asp-for="desconto" class="form-control" />
                <span asp-validation-for="desconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorFinal" class="control-label"></label>
                <input asp-for="valorFinal" class="form-control" />
                <span asp-validation-for="valorFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
